---
import Main from '../layouts/main.astro';
---

<Main title='Home'>
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis dui lacus, vitae pharetra sapien faucibus
    ac. Mauris bibendum enim id mauris dictum, sed vehicula est ullamcorper
  </p>
</Main>
